@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Overpass';
  src: url(./fonts/Overpass-ExtraLight.ttf) format('truetype');
}

:root {
  --grid-column1: 2.2in;
  --grid-column2: 6.075in;
  --grid-row1: 1.1in;

  --ballot-width: 8.5in;
  --ballot-height: 10.94in;
}

.row_flex {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
}

.col_flex {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.col_flex_botMarg {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5px;
}

.title_text{
  margin: auto;
  font-size: 30px;
  font-family: Poppins;
  padding-bottom: 5px;
  text-align: center;
}

.subtitle_text{
  margin: auto;
  font-size: 20px;
  font-family: Poppins;
  text-align: center;
}

.ballotContainer{
  position: relative;
}

.topBallot {

}

.bottomBallot {
  /* font: 16px 'Overpass', sans-serif;
  line-height: 106%;
  width: var(--ballot-width);
  min-width: var(--ballot-width);
  height: var(--ballot-height);
  min-height: var(--ballot-height);
  margin: auto;
  font-size: 16px;
  background-color: #FFFFFF;
  border-width: 1px;
  border-color: #aaa;
  border-style: none solid solid solid;
  border-radius: 1px; */
  position: absolute;
  top: 0;
  left: 0;
}

/* .bottomBallot > * {
  margin-right: 10px;
  margin-left: 10px;
} */

.ballot {
  font: 16px 'Overpass', sans-serif;
  line-height: 106%;
  width: var(--ballot-width);
  min-width: var(--ballot-width);
  height: var(--ballot-height);
  min-height: var(--ballot-height);
  max-height: var(--ballot-height);
  margin: auto;
  background-color: #FFFFFF;
  font-size: 16px;
  border-width: 1px;
  border-color: #aaa;
  border-style: none solid solid solid;
  border-style: 1px;
  border-radius: 1px;
}

.ballot > * {
  margin-right: 10px;
  margin-left: 10px;
}

.strip {
  width: 80px;
}

.stripFiller {
  width: 80px;
  height: var(--ballot-height);
  background-color: white;
}

#fv > img {
    max-width: 100%;
    max-height: 100%;
}

.officialballot {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.election {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1fr 25px 20px 20px;
    margin-left: 10px;
}

.line2 {
    font-size: 15px;
    text-align: right;
    align-self: end;
}

.line1{
    font-size: 20px;
    text-align: right;
}

.topInstructions {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    background-color: #E7E8E9;
    margin-bottom: 5px;
}

.instructionsTitle {
    margin-bottom: 5px;
    background-color: black;
    color: white;
    padding: 10px;
}

.instructions {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
    background-color: #E7E8E9;
    font-size: 14px;
}

.images {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E7E8E9;
    /*margin-bottom: 10px;*/
}

.images .imgwrap {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.images .txtwrap{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.images img {
    max-width: 100%;
    max-height: auto;
}

.sideBarCandidateButtonContainer{
  margin-bottom: 16px;
}

#contestAddButton {
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  background-color: #FFFFFF;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-left: 1px;
  width: calc(var(--grid-column1) + var(--grid-column2));
  height: 28px;
  border: 1px solid transparent;
  border-radius: 5%;
  border: 2px solid black;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#contestAddButton:active {
  border-color: #003557;
  background-color: #FFF;
}

#contestAddButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.1, 1.1);
}

#sideBarCandidateButtonRemove {
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  background-color: #FFFFFF;
  margin-bottom: 0px;
  width: 40px;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 5%;
  border: 2px solid black;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#sideBarCandidateButtonRemove:active {
  border-color: #003557;
  background-color: #FFF;
}

#sideBarCandidateButtonRemove:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.1, 1.1);
}

#sideBarCandidateButtonAdd {
  font-family: Poppins;
  font-size: 10px;
  font-weight: bold;
  background-color: #FFFFFF;
  margin-bottom: 0px;
  width: 80px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 5%;
  border: 2px solid black;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#sideBarCandidateButtonAdd:active {
  border-color: #003557;
  background-color: #FFF;
}

#sideBarCandidateButtonAdd:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.1, 1.1);
}

#sideBarContestButton {
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  background-color: #FFFFFF;
  margin-bottom: 0px;
  width: 40px;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 5%;
  border: 2px solid black;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#sideBarContestButton:active {
  border-color: #003557;
  background-color: #FFF;
}

#sideBarContestButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.1, 1.1);
}

#bigButton {
  font-family: Poppins;
  font-size: 16px;
  background-color: #FFFFFF;
  margin-bottom: 0px;
  width: 150px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5%;
  border: 1px solid #553285;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#bigButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.1, 1.1);
}

#bigButton:active {
  border-color: #003557;
  background-color: #FFF;
}

#selectedBigButton {
  font-family: Poppins;
  background-color: #9768d1;
  margin-bottom: 0px;
  width: 150px;
  height: 40px;
  border-radius: 5%;
  border: 3px solid #553285;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.1, 1.1);
}

.contestTitle {
  padding: 5px;
  background-color: #D0D3D4;
  font-weight: bold;
  border-left: 1px solid black;
  border-top: 3px solid black;
  border-right: 1px solid black;
}

.contestBody {
  display: grid;
  grid-template-columns: var(--grid-column1) var(--grid-column2);
  grid-template-rows: var(--grid-row1) auto;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.contest {
  padding-top: 10px;
}

.contestInstructions {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding: 5px;
  background-color: #E7E8E9;
  font-size: 14px;
  border-left: 1px solid black;
}

.longOrdinal {
  margin: auto;
  flex-grow: 2;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.shortOrdinal {
  margin: auto;
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.contestCandidateContainer {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.contestCandidateOuter {
  border-top: 2px solid black;
  border-left: 1px solid black;
  width: var(--grid-column1);
}

.contestCandidateInnerPreview {
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.contestCandidateInnerEdit {
  padding-left: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.candidateName {
  font-weight: bold;
}
